= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  = f.input :name, input_html: { maxlength: 40 }
  = f.input :email, input_html: { maxlength: 255 }
  = f.input :password, input_html: { maxlength: 40 }
  = f.input :password_confirmation, input_html: { maximum: 40 }
  = f.association :roles, as: :check_boxes, disabled: @user == current_user, wrapper: :horizontal_radio_and_checkboxes
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary', data: { confirm: 'よろしいですか？' }
      = link_to 'キャンセル', users_path, class: 'btn btn-default'
