<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label: '名前' %>
  <%= f.input :email, label: 'メールアドレス' %>
  <%= f.input :password, label: 'パスワード' %>
  <%= f.input :password_confirmation, label: false %>

  <%= f.button :submit, value: '登録' %>
<% end %>
