<%- model_class = User -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.deleted? %>
        <tr class="deleted">
      <% else %>
        <tr>
      <% end %>
        <td><%= image_tag user.avatar_url %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% unless user.deleted? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_user_path(user),
                        :class => 'btn btn-mini' %>
            <% if current_user != user %>
              <%= link_to t('.disable', :default => t("helpers.links.disable")),
                          user_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>
