.page-header
  %h3 届書の一覧

%table.table.table-hover
  %thead
    %tr
      %th 申請日
      %th 区別
      %th 期間・日時
      %th 状態
      %th
  %tbody
    - @application_reports.each do |application_report|
      %tr
        %td= l application_report.application_date
        %td= application_report.decorate.kind_name
        %th= application_report.decorate.term
        %th= application_report.decorate.status_name

= link_to '新規作成', new_application_report_path, class: 'btn btn-primary'
