= simple_form_for @settlement_ledger, html: { class: 'form-horizontal' } do |f|
  = f.input :content, hint: '「出張精算書」「営業経費精算書」など', input_html: { maxlength: 40 }
  = f.input :note, input_html: { maxlength: 200 }
  = f.input :price
  = f.input :application_date, as: :string, input_html: { class: 'datepicker', value: Date.today }
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary', data: { confirm: '精算申請を登録します。よろしいですか？' }
      = link_to 'キャンセル', settlement_ledgers_path, class: 'btn btn-default'
