- model_class = SettlementLedger
%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:ledger_number)
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:note)
      %th= model_class.human_attribute_name(:price)
      %th= model_class.human_attribute_name(:application_date)
      %th= model_class.human_attribute_name(:applicant_user_name)
      %th= model_class.human_attribute_name(:settlement_date)
      %th= model_class.human_attribute_name(:settlement_note)
      %th= t '.actions', :default => t("helpers.actions")
      %th= '精算書ダウンロード'
  %tbody
    - @settlement_ledgers.each do |settlement_ledger|
      %tr{class: settlement_ledger.deleted? ? 'deleted' : ''}
        %td= settlement_ledger.ledger_number
        %td= settlement_ledger.content
        %td= settlement_ledger.note
        %td.text-right= number_with_delimiter(settlement_ledger.price)
        %td= settlement_ledger.application_date
        %td= settlement_ledger.applicant_user_name
        %td= settlement_ledger.settlement_date
        %td= settlement_ledger.settlement_note
        %td
          - unless settlement_ledger.deleted? || settlement_ledger.completed?
            - if can? :settle, SettlementLedger
              = link_to '精 算', edit_for_settle_settlement_ledger_path(settlement_ledger), :class => 'btn btn-default btn-sm'
            - if can?(:manage, SettlementLedger) || (can?(:edit, SettlementLedger) && (settlement_ledger.applicant_user_id == @current_user.id))
              = link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_settlement_ledger_path(settlement_ledger), :class => 'btn btn-default btn-sm'
            - if can?(:manage, SettlementLedger) || (can?(:destroy, SettlementLedger) && (settlement_ledger.applicant_user_id == @current_user.id))
              = link_to t('.destroy', :default => t("helpers.links.destroy")),
                          settlement_ledger_path(settlement_ledger),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-sm btn-danger'
        %td
          - if settlement_ledger.file_name.present?
            = link_to t('.settlement_ledger_number_download', :default => t("helpers.links.download")),
                      settlement_ledger_number_download_settlement_ledger_path(settlement_ledger),
                      :class => 'btn btn-sm btn-primary'
= paginate @settlement_ledgers, remote: true

